li {
    display: inline-block;
    /* background: #00945f; */
    /* border-bottom: 1px solid #016e39; */
    margin: 0;
    padding: 10px 20px;
}
  
ul {
  margin-top: 15%;
  list-style-type: none;
}
ul#className li {
  display:inline-block;
  width: auto;
}

ul.deviceMenu > li > a{
  border-bottom: 2px solid #A6A8BA;
  color: #A6A8BA;
}

ul.deviceMenu > li > a.active{
  border-bottom: 2px solid #52FFEC;
  color: #292F58;
}

.deviceMenu{
  display: flex;
  justify-content: space-around;
}