.deviceContent{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start
}

.deviceMenu {
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 100%;
    top:5%;
}

.deviceMenu li{
list-style: none;
}

.deviceMenu a{
    font-weight: bold;
    color: #292F58;
    font-size: 1.1em;
}

ul > li.active{
  /* background: #52FFEC; */
  color: #292F58;
}

ul > li.active::before{
  /* background: #52FFEC; */
  background: #52FFEC;
}