.welcomeContent {
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    height: 100vh;
    background-image: url('../../../public/images//Screen.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.welcomeLogo {
    width:50%;
}

.volumeSettings {
    position:relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.volumeSettings img{
    width: 6%;
    position: absolute;
}

.textContent {
    width : 50%;
}

