.interfaceContent{
  position: relative;
  overflow: hidden;
  background-color: #fefefe;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 50%;
  height: 100vh;
}

@media (max-width: 769px) {
  .interfaceContent{
    width: 100%;
  }
}
/* laptop large */
@media (min-width: 1440px){
  .interfaceContent{
    width: 30%;
  }

  .burgerIcon{
    position: fixed;
    top: 3%;
    left: 36%;
  }
  
}