/* books */
.speech_image_book_container{
    /* align-items: flex-start; */
    position: relative;
}

.speech_image_book{
    /* height: 100px; */
    width: 20%;
    border-radius: 10px;
    /* filter: grayscale(70%); */
}

.speech_image_book_text{
    position: absolute;
    bottom: 50%;
    /* left: 16px; */
    margin-left: 25%;
}

.speech_image_book_text p{
    text-align: left;
}

/* videos */
.speech_image_sport_container{
    /* align-items: flex-start; */
    position: relative;
}

.speech_image_sport{
    height: 100px;
    width: 100%;
    border-radius: 10px;
    /* filter: grayscale(70%); */
}

.speech_image_sport_text{
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}

.speech_image_sport_text p{
    text-align: left;
    color: #ffffff;
}

/* video */
.speech_image_video_container{
    /* align-items: flex-start; */
    position: relative;
}

.speech_image_video{
    height: 100px;
    width: 55%;
    border-radius: 10px;
    /* filter: grayscale(70%); */
}

.speech_image_video_text{
    position: absolute;
    bottom: 35%;
    /* left: 16px; */
    margin-left: 60%;
}

.speech_image_video_text p{
    text-align: left;
}

@media (max-width: 768px){
    .speech_image_book_text{
        bottom: 70%;
    }
}

@media (max-width: 426px){
    .speech_image_book_text{
        bottom: 50%;
    }
}

@media (max-width: 320px){
    .speech_image_book_text{
        font-size: 13px;
    }
}

@media (max-width: 768px){
    .speech_image_sport{
        height: 150px;
    }
}

@media(min-width: 769px){
    .speech_image_sport{
        height: 150px;
    }
}