

.slideAnimation {
    position: absolute;
    translate: -130%;
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
    width: 50%;
    color:white;
    background-color: #293059;
    height: 100vh;
    animation: slidein 2s forwards;
    z-index: 9;
}

.burgerIcon {
    color: black;
    float: left;
    z-index: 99999;
}

.burgerIcon  svg{
    position: absolute;
    float: left;
    margin-top: 5%;
    margin-left: 5%;
    top:0;
}

.Line{
    display: block;
    border:1px solid white;
    margin: 15px 0 15px 0;
    width: 100%;
}

.linksContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 40vh;
}

@media (min-width: 1281px) {

    .slideAnimation{
      width: 25%;
      margin-left: -25%;
    }
}