.feedbackContainer{
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    height: 100vh;
    animation: slideUp 3s forwards;
    z-index: 99999;
    flex-direction: column;
}

.feedbackUp {
    animation: slideDown 3s forwards;
}

.closeFeedback {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
    margin-left: 10px;
}


.feedbackContainer::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.feedbackInstructions{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.feedbackInstructions h3 {
    margin: 10px 0 10px 0;
    color: #292F58;
    text-align: start;
}

.feedbackContainer p {
    color :#292F58;
    text-align: start;
}

.checkContent {
    border:1px solid red;
}

.comments {
    height: 166px;
    width: 252px;
}

.voiceImage {
    width: 25%;
}
