.feedbackContainer{
    overflow: scroll;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: white;
    height: 100vh;
    animation: slideUp 3s forwards;
    z-index: 99999;
    flex-direction: column;
}

.feedbackUp {
    animation: slideDown 3s forwards;
}

.closeFeedback {
    width: 100%;
    border-bottom: 1px solid lightgrey;
    padding: 10px;
    margin-left: 35px;
}


.feedbackContainer::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.feedbackInstructions{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.feedbackInstructions h3 {
    margin: 10px 0 10px 0;
    color: #292F58;
    text-align: start;
}

.titleContent{
    display: flex;
    margin-bottom: 5px;
}

.titleContent h4{
    color :#292F58;
    display: flex;
}

.labelText{
    color :#292F58;
    display: flex;
    margin-bottom: 5px;
}


.feedbackContainer p {
    color :#292F58;
    text-align: start;
}

.checkboxMainContent {
    width: 90%;
    margin: 20px 0 20px 60px;
}

.comments {
    height: 166px;
    width: 90%;
    border-radius: 10px;
    resize: none;
    padding:10px;
}

.voiceImage {
    width: 15%;
    height: 15%;
}

.voiceCommand{

    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px 0 20px 0;
}

.voiceInstructions{
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto auto;
}

.commentSubmit{
    border: none;
    background-color: #292F58;
    color: white;
    width: 130px;
    height: 37px;
    border-radius: 7px;

}

.commentsContent {
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 340px;
}

.required{
    font-size: 10px;
    color: red;
}

.voicePulse {
    border-radius: 50%;
    animation : voicePulse 2s infinite;
}
