.menuContent{
  display: flex;
  justify-content: space-around;
  align-items: center; 
  background-color: #fefefe;
  bottom: 0;
  width: 100%;
  position: absolute;
  height: 5vh;
  border-top: 1px solid gray;
}

.iconGigaaaVoice {
  position: absolute;
  border-radius: 100%;
  bottom: 0;
  animation: shadow-pulse 1.4s;
  animation-iteration-count: infinite;
}

.iconGigaaaVoiceChanger {
  position: absolute;
  border-radius: 100%;
  bottom: 0;
  animation: voiceChangeColors 2s;
  animation-iteration-count: infinite;
}

