.loginForm {
    width: 80%;
    padding: 20px;
    background-color: #fefefe;
    border-radius: .7em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation : fadeIn 5s;
}

.loginForm form{
    width: 100%;
    margin:0 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.loginForm form label{
    color : #293059;
    font-weight: 500;
}

.passwordEye{
    position: relative!important;
    float: right;
    top: 0!important;
}

.loginForm form input[type="submit"]{
    padding:10px;
    color : #fefefe;
    background-color : #293059;
    border-radius: .5em;
    position: relative;
    bottom: -101px;
    border-bottom: none;
}

.checkContent{
    padding-top: 10px;
}

.checkContent input[type="checkbox"]{
    display: block;
    float: left;
    top: 79px;
    margin-top: 6px;
    margin-right: 10px;
}


.loginForm form input{
    margin-top: 2%;
    border-style: hidden;
    border-bottom: 1px solid lightgrey;
}

.loginForm form input:focus{
    outline:none;
}


.newAccountContent{
    border-top: 2px solid white;
    padding-top: 1em;
    bottom: 20%;
    position: absolute;
    width: 50%;

}
