.loginForm {
    width: 80%;
    height: 17vh;
    background-color: #fefefe;
    border-radius: .7em;
    display: flex;
    justify-content: center;
    align-items: center;
    animation : fadeIn 5s;
}

.loginForm form{
    width: 65%;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.loginForm form label{
    color : #293059;
    font-weight: 500    ;
}

.loginForm form input[type="submit"]{
    padding:10px;
    color : #fefefe;
    background-color : #293059;
    border-radius: .5em;
    position: relative;
    bottom: -101px;
    border-bottom: none;
}

.checkContent{
    padding-top: 10px;
}

.checkContent input[type="checkbox"]{
    display: block;
    float: left;
    top: 79px;
    margin-top: 6px;
    margin-right: 10px;
}


.loginForm form input{
    border-style: hidden;
    border-bottom: 1px solid lightgrey;
}

.loginForm form input:focus{
    outline:none;
}

.line {
    border:1px solid white;

}

.newAccountContent{
    border:1px solid gray;
    width: 80%;
}
