.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-image: url('../public/images/Screen.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainContent span {
  width: 45%;
  text-align: center;
  top: 45px;
}

.mainContent span p{
  font-size: 1em;
  animation : fadeIn 5s;
}

.mainContent p{
  font-size: 1em;
}

.logoGigaaa{
  width: 50%;
  margin-top: 10%;
  animation : fadeIn 5s;
}

.iconGigaaa{
  border-radius: 100%;
  bottom: 0;
  animation: shadow-pulse 1.4s;
  animation-iteration-count: infinite;
}

.iconContent{
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center; 
}


.chatInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom:12%;
  position: absolute;
  animation: chatSlideUp 1.4s forwards;
}

.chatInput input[type="text"] {
  width: 45%;
  border-style: none;
  border-bottom: 1px solid #D6D7DA;
}

.formTypeHere{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: .8;
}

.typeHere {
  width : 90%;
  border:none;
  color: #D6D7DA;
  border-bottom: 2px solid lightgray;
}

.typeHereSubmit {
  margin-top: 15px;
  color: #D6D7DA;
  font-size: 35px;
  border:none;
  background-color: transparent;  
}

.speech {
  position: relative ;
  top: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  /* height: 130%; */
}

.speech-bubble {
  padding:8px;
  margin-left: 10px;
  display: block;
  justify-content: flex-start;
  align-items: flex-start;
  width: 70%;
  position: relative;
  border: 2px solid #52FFEC;
  border-radius: .4em;
  float: left;
  margin-bottom: 5%;
  z-index: 1;
}

/* .speech-bubble::after {
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  background-color: #52FFEC;
  border-radius: 100px;
  position: absolute;
  bottom: -35px;
  left: 95px;
  z-index: -5;
}

.speech-bubble::before{
  content: '';
  display: block;
  width: 60px;
  height: 60px;
  background-color:#52FFEC;
  border-radius: 100px;
  position: absolute;
  bottom: -30px;
  left: 300;
  top: 0;
} */

.speech-bubble p{
  font-weight: 600;
  color : #292F58;
}

.container_speech{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 5%;
  height: 75%;
  /* width: 90%; */
  position: relative;
  /* border: 2px solid #52FFEC; */
  border-radius: .4em;
  float: left;
  overflow-y: auto;
}