.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-image: url('../public/images/Screen.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.mainContent span {
  width: 45%;
  text-align: center;
  top: 45px;
}

.mainContent span p{
  font-size: 1em;
  animation : fadeIn 5s;
}

.mainContent p{
  font-size: 1em;
}

.logoGigaaa{
  width: 50%;
  margin-top: 10%;
  animation : fadeIn 5s;
}

.iconGigaaa{
  border-radius: 100%;
  bottom: 0;
  animation: shadow-pulse 1.4s;
  animation-iteration-count: infinite;
}

.iconContent{
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center; 
}


.chatInput {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom:12%;
  position: absolute;
  animation: chatSlideUp 1.4s forwards;
}

.chatInput input[type="text"] {
  width: 45%;
  border-style: none;
  border-bottom: 1px solid lightgray;
}

.formTypeHere{
  display: flex;
  justify-content: space-around;
  flex: .8;
}

.speech {
  position: absolute;
  top: 10%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 130%;
}

.speech-bubble {
  padding:8px;
  margin-left: 10px;
  display: block;
  justify-content: flex-start;
  align-items: flex-start;
  height: 55%;
  width: 70%;
  position: relative;
  border: 2px solid #52FFEC;
  border-radius: .4em;
  float: left;
  overflow-y: auto;
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 10%;
  width: 0;
  height: 0;
  border: 20px solid transparent;
  border-right-color: #52FFEC;
  border-left: 0;
  border-top: 0;
  margin-top: -9px;
  margin-left: -17px;
  transform: rotate(22deg);
}

.speech-bubble p{
  font-weight: 600;
  color : #292F58;
}