.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  background-image: url('../public/images/Screen.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.mainContent p{
  font-size: 12px;
}

.logoGigaaa{
  width: 60%;
}

@media (min-width: 1025px) and (max-width: 1280px) {
 
  .mainContent p{
    font-size: 22px;
  }

  .logoGigaaa{
    width: 30%;
  }

}