*{
  margin:0;
  padding: 0;
}

p{
  text-align: center;
  color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input, select, textarea {
  color :#293059;
  font-weight: 500;
}

#root{
  display: flex;
  justify-content: center;
  align-items: center;
}


/*Media Queries Desktop*/

@media (min-width: 1281px) {
  

  .mainContent {
    width: 50%;
  }
  .mainContent span p{
    font-size: 1em!important;
  }
  .mainContent p{
    font-size: 1em!important;
  }
  .logoGigaaa{

  }  
}

@media (min-width: 1025px) and (max-width: 1280px) {

  .mainContent {
    width: 50%;
  }
  .mainContent span p{
    font-size: 1em!important;
  }
  .mainContent p{
    font-size: 1em!important;
  }
  .logoGigaaa{
    width: 30%;
  }
}



@media (min-width: 768px) and (max-width: 1024px) {

  .logoGigaaa{
    width: 30%!important;
  }

  .mainContent span p{
    font-size: 1.5em!important;
  }
  .mainContent p{
    font-size: 1.5em!important;
  }

}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {


}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

}


/*Keyframes*/
@keyframes slidein {
  from {
    opacity: 0;
    margin-bottom: 100%;
  }

  to {
    opacity: 1;
    margin-bottom: 0%;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes shadow-pulse
{
  0% {
      box-shadow: 0 0 0 0px rgba(39, 221, 207, 0.2);
      width: 17%;
  }
  50% {
    width: 19%;
  }
  100% {
      box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
      width: 17%;
  }
}


