*{
  margin:0;
  padding: 0;
}

a{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
}

p{
  text-align: center;
  color: white;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: lightgray;
}

.toggleColor.react-toggle--checked .react-toggle-track {
  background-color : #52FFEC!important;
}

.toggleColor .react-toggle-thumb{
  top: 4px;
  left: 5px;
  width: 22px;
}

.toggleColor .react-toggle-track{
  height: 30px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

input, select, textarea {
  color :#293059;
  font-weight: 500;
}

/*Media Queries Desktop*/
/* Laptop */

@media (min-width: 769px) {
  #root{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media (max-width: 769px) {
  #root{
    display: flex;
    justify-content: unset;
    align-items: center;
    width: 100%;
  }
}

@media (min-width: 1281px) {

  .mainContent {
    width: 50%;
  }
  .mainContent span p{
    font-size: 1em!important;
  }
  .mainContent p{
    font-size: 1em!important;
  } 
  .loginForm {
    width: 30%!important;
  }
}

@media (min-width: 1024px) and (max-width: 1280px) {

  .mainContent {
    width: 50%;
  }
  .mainContent span p{
    font-size: 1em!important;
  }
  .mainContent p{
    font-size: 1em!important;
  }
  .logoGigaaa{
    width: 30%;
  }
  .loginForm {
    width: 30%!important;
  }
  .burgerIcon{
    position: fixed;
    top: 3%;
    left: 27%;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {

  .logoGigaaa{
    width: 30%!important;
  }

  .mainContent span p{
    font-size: 1.5em!important;
  }
  .mainContent p{
    font-size: 1.5em!important;
  }

  .loginForm {
    width: 30%!important;
  }

  .newAccountContent{
    bottom: -110%!important;
    position: absolute;
    width: 500px!important;
}

}

/* 
##Device = Tablets, Ipads (landscape)
##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {


}

/* 
##Device = Low Resolution Tablets, Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
}

/* 
##Device = Most of the Smartphones Mobiles (Portrait)
##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  .newAccountContent {
    border-top: 2px solid white;
    padding-top: 1em;
    bottom: -162%;
    position: absolute;
    width: 70%!important;
  }

  .burgerIcon{
    position: fixed;
    top: 3%;
    left: 3%;
  }
  

}


/*Keyframes*/

@keyframes slideUp {

  from{
    transform : translateY(-160%);
  }

  to {
      transform : translateY(-0%);
  }

  /*from {
    opacity: 0;
    margin-left: -400px;
  }

  to {
    opacity:1;
    margin-left: -130px;
  }*/
}

@keyframes slidein {
  from{
    opacity: 0;
    transform : translateX(-160%);
  }
  to {
    opacity: 1;
      transform : translateX(-50%);
  }
}

@keyframes chatSlideUp {
  from{
    opacity: 0;
    transform : translateX(-160%);
  }
  to {
    opacity: 1;
      transform : translateX(-50%);
  }
}


@keyframes slideUp {
  from{

    transform : translateY(-160%);
  }
  to {
      transform : translateY(-  0%);
  }
}

@keyframes slideDown {
  from{

    transform : translateY(-0%);
  }
  to {
      transform : translateY(-160%);
  }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes shadow-pulse
{
  0% {
      box-shadow: 0 0 0 0px rgba(39, 221, 207, 2);
      width: 15%;
  }
  50% {
    width: 17%;
  }
  100% {
      box-shadow: 0 0 0 12px rgba(0, 0, 0, 0);
      width: 15%;
  }
}

@keyframes voicePulse
{
  0% {
      box-shadow: 0 0 0 0px rgba(41, 87, 88, 2);
      width: 10%;
  }
  50% {
    width: 0%;
  }
  100% {
      box-shadow: 0 0 0 35px rgba(0, 0, 0, 0);
      width: 10%;
  }
}


@keyframes voiceChangeColors
{
  0% {
      box-shadow: 0 0 0 0px rgba(39, 221, 207, 0.2);
      width: 15%;
  }
  50% {
    width: 17%;
    box-shadow: 0 0 0 12px rgb(41,48,89,0.3);
  }
  100% {
      box-shadow: 0 0 0 12px rgb(41,48,89,0.5);
      width: 15%;
  }
}



@keyframes micPulse
{
  0% {
      box-shadow: 0 0 0 0px rgba(82, 255, 236, .3);
      
  }
  100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}

@keyframes micPulse2
{
  0% {
      box-shadow: 0 0 0 0px rgba(41, 47, 88, .3);
      
  }
  100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
  }
}
